.linkList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: rgb(66, 130, 109);
  list-style: none;
  font-size: 30px;
  font-weight: 700;
  font-family: sans-serif;
}

.link {
  color: rgb(66, 130, 109);
  text-decoration: none;
  transition: color 0.4s;
}

.link:hover {
  color: rgb(34, 58, 50);
}
